<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center my-5">Bienvenido/a a Gestor Entrevistas</h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-5">
            <button type="button" class="btn btn-primary" routerLink="entrevistas/listado">Ver entrevistas</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success" routerLink="puestos/listado">Ver puestos</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-info" routerLink="candidatos/listado">Ver candidatos</button>
        </div>
    </div>
</div>