<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="">Gestión entrevistas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Entrevistas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="entrevistas/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="entrevistas/agregar">Crear</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Puestos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="puestos/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="puestos/agregar">Crear</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Candidatos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="candidatos/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="candidatos/agregar">Crear</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</nav>